.post-contaier{
    min-width: 97%;
    background-color: #ffe6b3;
    margin-top: 15px;
    border-radius: 15px;
    max-width: 97%;
    margin-left: 15px ;
    display: flex;

}
.profile-image{
    background-color: yellowgreen;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.post-content{
    margin: 1% 2%;
    background-color: #ffbb33;
    width: 93%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.create-header{
    background-color: #cc8800;
    margin: 1%;
    border-radius: 15px;
    padding: 10px;
    font-family: inherit;
    font-size: 50px;
}
.create-text{
    background-color: #cc8800;
    border-radius: 15px;
    padding: 10px;
    margin: 1%;
    height: 30em;
    font-family: inherit;

}
#post-button{
    align-self: end;
    margin: 0 1%  1%  0;
}